extends layout
block content
  h1= title
  div.container-fluid
    div.row
      -
        let gift = results     
      each gift,index in results
        .col-sm-2 
          div.col-sm-2(onclick=`buy(${index})`)

            p GiftType: #{gift.gift_type}
            p Size: #{gift.gift_size}
            p Price: $#{gift.gift_price.toFixed(2)}

  a(href="/") Back to index
  script. 
    function buy(index) {
      alert(`You purchased item ${index}`);
    }
